extends layout

block content
  h1 New Message:
  form(method="POST", action="/new")
    div.input
      span.label Name
      input(type="text", name="name")
    div.input
      span.label Message
      input(type="text", name="message")
    div.actions
      input(type="submit", value="Add")
